body {
    background-color: #131313;
  }
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 20px; */
}
#board {
  border: solid 2px grey;
}
.play {
  background-color: grey;
  font-size: 20px;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: bold;
}
.square {
  width: 2vw;
  height: 2vw;
  border: 1px solid grey;
}
.image {
    /* margin: 2.5vw; */
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    border: 1px solid grey;
}
.logo {
  margin: 1vw;
  max-width: 40vw;
}
.board {
  margin: 1vw;
  max-height: 96vh;
  max-width: 40vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
img {
    max-width: 100%;
    height: auto;
}
#discord {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 19;
  grid-row-end: 21;
}
#twitch {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 19;
  grid-row-end: 21;
}
#twitter {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 19;
  grid-row-end: 21;
}
#instagram {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 19;
  grid-row-end: 21;
}
#O {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  cursor: default;
}
#about {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 19;
  grid-row-end: 21;
}
  /* h1 {
    color: #2E55FF;
    justify-self: center;
    font-family: "Copperplate", fantasy, sans-serif;
    font-size: 5vw;
  } */
